.home {
  top: 0;
  height: 700px;
  max-width: 100%;
  margin: 0px;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

.middle-horizontal-container {
  position: relative;
  height: 200px;
  width: min(450px, 50%);
  top: 250px;
  padding: 30px clamp(10%, 250px, 20%);
}

.middle-horizontal-container h1 {
  display: flex;
  font-size: 3em;
  font-weight: lighter;
  color: #222;
  letter-spacing: 2px;
  margin: 0px;
}

.middle-horizontal-container h2 {
  display: flex;
  font-size: 3em;
  font-weight: lighter;
  color: #222;
  letter-spacing: 2px;
  margin: 0px;
}